<!DOCTYPE html>
<html lang="ru-RU">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
		<title>
			Расшифровка матрицы &#8212;
		</title>
		<meta
			name="description"
			content="Расшифровка матрицы" />
		<meta property="og:type" content="article">
		<meta property="og:title" content="Расшифровка матрицы">
		<meta property="og:description" content="Расшифровка матрицы">
		<meta property="og:url" content="https://annashatilova.ru/matrix">
		<!--link rel='stylesheet' id='fonts-css' href='https://fonts.googleapis.com/css2?family=Montserrat%3Awght%40400%3B500%3B600%3B700&#038;display=swap&#038;subset=cyrillic&#038;ver=6.4.3' type='text/css' media='all' /!-->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap"
			rel="stylesheet" />

		<link rel="stylesheet" type="text/css" href="/static/matrix2.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{{url_for('.static', filename='matrix2.css')}}" />
		<script
			type="text/javascript"
			src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"
			id="jquery-js"></script>
	</head>
	<body>
		<header class="wrapper">
			<nav class="navMenu">
				<div class="nav_links">
					<a href="home">Анна Шатилова</a>
					<a href="aboutme" class="obo-mne">Консультация</a>

					<a href="sertificate">Сертификаты</a>
					<a href="matrix" target="_blank">Рассчитать матрицу</a>
				</div>

				<div class="social-media-icons">
					<a href="https://vk.com/id838686053">
						<!-- <img src="/static/vk.png" class="vk-icon" /> -->
						<img src="{{url_for('static', filename='vk.png')}}" />
						<!--hello -->
					</a>
					<a href="">
						<!-- <img src="/static/telegram.png" class="telegram-icon" /> -->
						<img src="{{url_for('static', filename='telegram.png')}}" />
					</a>
				</div>
			</nav>
		</header>
		<div class="page-wrapper">
			<main class="wrapper">
				<div class="page-wrapper-content">
					<div class="navbar-after"></div>

					<section class="article-content wp-editor">
						<div class="decrypt">
							<div class="decrypt__left">
								<div class="decrypt_div_h1">
									<h1>введите дату рождения</h1>
								</div>
								<form id="dateForm">
									<div class="datepicker">
										<input
											type="text"
											id="datepicker"
											placeholder="01.01.0000"
											class="js-matrix-birthdate"
											disabled
											name="date"
											pattern="(0[1-9]|1[0-9]|2[0-9]|3[01]).(0[1-9]|1[012]).[0-9]{4}"
											value=""
											required />
									</div>
									<div class="decrypt__menu decrypt__menu--short">
										<button
											type="submit"
											class="button primary"
											style="flex-grow: 1">
											рассчитать
										</button>
									</div>
								</form>
								<div class="product_div_fio_price"></div>
							</div>
							<div class="forPromocode__matrix">
								<div class="forPromocode__matrixElement">
									<div class="forPromocode__matrixElementWrapper" tabindex="1">
										<div class="forPromocode__matrixElementLabel">
											Доп. числа
										</div>
										<div
											class="forPromocode__matrixElementValue number n-additional">
											—
										</div>
									</div>
								</div>
								<div class="forPromocode__matrixElement">
									<div class="forPromocode__matrixElementWrapper" tabindex="1">
										<div class="forPromocode__matrixElementLabel">
											Число судьбы
										</div>
										<div
											class="forPromocode__matrixElementValue number n-destiny">
											—
										</div>
									</div>
								</div>
								<div class="forPromocode__matrixElement">
									<div class="forPromocode__matrixElementWrapper" tabindex="1">
										<div class="forPromocode__matrixElementLabel">
											Темперамент
										</div>
										<div class="forPromocode__matrixElementValue number n-9">
											—
										</div>
									</div>
								</div>
								<div class="forPromocode__matrixElement">
									<div class="forPromocode__matrixElementWrapper" tabindex="1">
										<div class="forPromocode__matrixElementLabel">Характер</div>
										<div class="forPromocode__matrixElementValue number n-0">
											—
										</div>
									</div>
								</div>
								<div class="forPromocode__matrixElement">
									<div class="forPromocode__matrixElementWrapper" tabindex="1">
										<div class="forPromocode__matrixElementLabel">Здоровье</div>
										<div class="forPromocode__matrixElementValue number n-3">
											—
										</div>
									</div>
								</div>
								<div class="forPromocode__matrixElement">
									<div class="forPromocode__matrixElementWrapper" tabindex="1">
										<div class="forPromocode__matrixElementLabel">Удача</div>
										<div class="forPromocode__matrixElementValue number n-6">
											—
										</div>
									</div>
								</div>
								<div class="forPromocode__matrixElement">
									<div class="forPromocode__matrixElementWrapper" tabindex="1">
										<div class="forPromocode__matrixElementLabel">Цель</div>
										<div class="forPromocode__matrixElementValue number n-12">
											—
										</div>
									</div>
								</div>
								<div class="forPromocode__matrixElement">
									<div class="forPromocode__matrixElementWrapper" tabindex="1">
										<div class="forPromocode__matrixElementLabel">Энергия</div>
										<div class="forPromocode__matrixElementValue number n-1">
											—
										</div>
									</div>
								</div>
								<div class="forPromocode__matrixElement">
									<div class="forPromocode__matrixElementWrapper" tabindex="1">
										<div class="forPromocode__matrixElementLabel">Логика</div>
										<div class="forPromocode__matrixElementValue number n-4">
											—
										</div>
									</div>
								</div>
								<div class="forPromocode__matrixElement">
									<div class="forPromocode__matrixElementWrapper" tabindex="1">
										<div class="forPromocode__matrixElementLabel">Долг</div>
										<div class="forPromocode__matrixElementValue number n-7">
											—
										</div>
									</div>
								</div>
								<div class="forPromocode__matrixElement">
									<div class="forPromocode__matrixElementWrapper" tabindex="1">
										<div class="forPromocode__matrixElementLabel">Семья</div>
										<div class="forPromocode__matrixElementValue number n-11">
											—
										</div>
									</div>
								</div>
								<div class="forPromocode__matrixElement">
									<div class="forPromocode__matrixElementWrapper" tabindex="1">
										<div class="forPromocode__matrixElementLabel">Интерес</div>
										<div class="forPromocode__matrixElementValue number n-2">
											—
										</div>
									</div>
								</div>
								<div class="forPromocode__matrixElement">
									<div class="forPromocode__matrixElementWrapper" tabindex="1">
										<div class="forPromocode__matrixElementLabel">Труд</div>
										<div class="forPromocode__matrixElementValue number n-5">
											–
										</div>
									</div>
								</div>
								<div class="forPromocode__matrixElement">
									<div class="forPromocode__matrixElementWrapper" tabindex="1">
										<div class="forPromocode__matrixElementLabel">Память</div>
										<div class="forPromocode__matrixElementValue number n-8">
											—
										</div>
									</div>
								</div>
								<div class="forPromocode__matrixElement">
									<div class="forPromocode__matrixElementWrapper" tabindex="1">
										<div class="forPromocode__matrixElementLabel">Привычки</div>
										<div class="forPromocode__matrixElementValue number n-13">
											—
										</div>
									</div>
								</div>
								<div class="forPromocode__matrixElement">
									<div class="forPromocode__matrixElementWrapper" tabindex="1">
										<div class="forPromocode__matrixElementLabel">Быт</div>
										<div class="forPromocode__matrixElementValue number n-10">
											—
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
				<!-- / page-wrapper-content -->
			</main>
		</div>
		<!-- /page-wrapper -->

		<script>
			// Болкируем окно ввода, пока страница не загрузится
			$(document).ready(function () {
				$('#datepicker').removeAttr('disabled');
			});

			document.addEventListener('DOMContentLoaded', function () {
				$('body').on('submit', '#dateForm', function () {
					let date = $('.js-matrix-birthdate').val();

					calculate_matrix(
						$('.forPromocode__matrix'),
						date,
						function () {},
						true
					);

					return false;
				});
			});
		</script>
		
		<script>
			function clearDate() {
				(date = ''),
					(dateArray = []),
					(secondNumber = []),
					(matrix = []),
					console.log('my ready 123444');
			}

			function replaceDate() {}

			function clearArray(e) {
				return (
					0 == e[0] && e.splice(0, 1),
					0 == e[1] && e.splice(1, 1),
					0 == e[2] && e.splice(2, 1),
					e
				);
			}

			function firstSecondNumber(dateArray) {
				let e = 0;
				return (
					dateArray.forEach(function (t, r) {
						e += parseInt(t, 10);
					}),
					e
				);
			}

			function secondSecondNumber(e) {
				let t = 0,
					r = e.toString().split('');
				return (
					r.forEach(function (e, r) {
						t += parseInt(e, 10);
					}),
					t
				);
			}

			function thirdSecondNumber(secondNumber, dateArray) {
				let e = secondNumber[0],
					t = Math.abs(e - 2 * parseInt(dateArray[0], 10));
				return t;
			}

			function toInteger(fullNumbers) {
				let e = [];
				return (
					fullNumbers.forEach(function (t, r) {
						let a = t.toString(),
							n = a.split('');
						n.forEach(function (t, r) {
							let a = parseInt(t, 10);
							e = e.concat(a);
						});
					}),
					e
				);
			}

			function getMatrix(fullNumbers) {
				for (var e = [], t = [], r = 1; r <= 9; r++)
					(e[r - 1] = ''),
						(t[r - 1] = 0),
						fullNumbers.forEach(function (a, n) {
							a == r && ((e[r - 1] += '' + r), t[r - 1]++);
						}),
						'' == e[r - 1] && (e[r - 1] = 0);
				return (
					(e[9] = t[2] + t[4] + t[6]),
					(e[10] = t[3] + t[4] + t[5]),
					(e[11] = t[1] + t[4] + t[7]),
					(e[12] = t[0] + t[3] + t[6]),
					(e[13] = t[2] + t[5] + t[8]),
					e
				);
			}

			function destinyNumber(secondNumber_) {
				let e = 0;
				e = secondNumber_[1] == 11 ? 11 : secondSecondNumber(secondNumber_[1]);
				return e;
			}

			function correct_date(value) {
				let ppp = value.replace(/[^\d]/g, '');
				let days = ppp.slice(0, 2);
				let mm = ppp.slice(2, 4);
				let yy = ppp.slice(4);

				if (parseInt(days, 10) > 31) days = '31';
				if (days.length && days[0] > '3')
					days = ('000' + parseInt(days, 10)).slice(-2);

				if (parseInt(mm, 10) > 12) mm = '12';
				if (mm.length && mm[0] > '1') mm = ('000' + parseInt(mm, 10)).slice(-2);

				let tt = [];
				if (days.length) tt.push(days);
				if (mm.length) tt.push(mm);
				if (yy.length) tt.push(yy);
				ppp = tt.join('.');
				return ppp;
			}

			function clearArray(e) {
				return (
					0 == e[0] && e.splice(0, 1),
					0 == e[1] && e.splice(1, 1),
					0 == e[2] && e.splice(2, 1),
					e
				);
			}

			function date_autocorrect(container) {
				$(container)
					.mask('00.00.0000')
					.on('change paste keyup', function (e) {
						e.preventDefault();
						$(this).val(correct_date($(this).val()));
					});
			}

			function calculate_matrix($container, value, callback, empty) {
				date = value;

				dateArray = [];
				secondNumber = [];
				fullNumbers = [];
				matrix = [];
				destiny = 0;

				let e = date.split('.');
				e.forEach(function (e, t) {
					let r = e.split('');
					dateArray = dateArray.concat(r);
				});

				dateArray = clearArray(dateArray);

				(secondNumber[0] = firstSecondNumber(dateArray)), 
					(secondNumber[1] = secondSecondNumber(secondNumber[0])), 
					(secondNumber[2] = thirdSecondNumber(secondNumber, dateArray)),
					(secondNumber[3] = secondSecondNumber(secondNumber[2]));

				fullNumbers = dateArray.concat(secondNumber);
				fullNumbers = toInteger(fullNumbers);
				matrix = getMatrix(fullNumbers);
				destiny = destinyNumber(secondNumber);

				let ee = secondNumber.join(', ');

				$numbers = $container.find('.number');

				let c = 0;
				let i = setInterval(function () {

					c++;
					if (c > 10) {
						matrix.forEach(function (ee, t) {
							$container.find('.n-' + t).text(ee || (empty ? '_' : ''));
						});
						$container.find('.n-additional').text(ee);
						$container.find('.n-destiny').text(destiny);

						clearInterval(i);

						if (typeof callback == 'function') {
							callback();

							
							let result_matrix_light = '';
							for (let sch = 0; sch <= 8; sch++) {
								result_matrix_light += matrix[sch] || '-';
								result_matrix_light += '/'; 
							}
							result_matrix_light += 'Р§РЎ' + destiny;
							console.log(result_matrix_light);
							
							if (
								$('.div_matrix_light').length &&
								$('.children_matrix_light').length
							) {
								$('.div_matrix_light').fadeIn();
								$('.children_matrix_light').html(result_matrix_light);
							}
						}

						return;
					}

					$numbers.each(function (i) {
						let el = $(this);
						let d = el.data('r');

						if (typeof d != 'undefined') {
							let c = Math.floor(Math.random() * 4);
							el.html(c ? d.toString().repeat(c) : empty ? '_' : '&nbsp;');
						} else {
							el.html(Math.floor(Math.random() * 8) + 1);
						}
					});
				}, 30);
			}
			function calculate_matrix_sovmestimost(
				$container,
				$container2,
				value,
				value2,
				callback,
				empty
			) {
				date = value;
				date2 = value2;

				dateArray = [];
				secondNumber = [];
				fullNumbers = [];
				matrix = [];
				destiny = 0;

				dateArray2 = [];
				secondNumber2 = [];
				fullNumbers2 = [];
				matrix2 = [];
				destiny2 = 0;

				let e = date.split('.');
				e.forEach(function (e, t) {
					let r = e.split('');
					dateArray = dateArray.concat(r);
				});

				let e2 = date2.split('.');
				e2.forEach(function (e, t) {
					let r = e.split('');
					dateArray2 = dateArray2.concat(r);
				});

				dateArray = clearArray(dateArray);
				dateArray2 = clearArray(dateArray2);

				(secondNumber[0] = firstSecondNumber(dateArray)),
					(secondNumber[1] = secondSecondNumber(secondNumber[0])),
					(secondNumber[2] = thirdSecondNumber(secondNumber, dateArray)),
					(secondNumber[3] = secondSecondNumber(secondNumber[2]));

				(secondNumber2[0] = firstSecondNumber(dateArray2)),
					(secondNumber2[1] = secondSecondNumber(secondNumber2[0])),
					(secondNumber2[2] = thirdSecondNumber(secondNumber2, dateArray2)),
					(secondNumber2[3] = secondSecondNumber(secondNumber2[2]));

				fullNumbers = dateArray.concat(secondNumber);
				fullNumbers = toInteger(fullNumbers);
				matrix = getMatrix(fullNumbers);
				destiny = destinyNumber(secondNumber);

				fullNumbers2 = dateArray2.concat(secondNumber2);
				fullNumbers2 = toInteger(fullNumbers2);
				matrix2 = getMatrix(fullNumbers2);
				destiny2 = destinyNumber(secondNumber2);

				let ee = secondNumber.join(', ');
				$numbers = $container.find('.number');

				let ee2 = secondNumber2.join(', ');
				$numbers2 = $container2.find('.number');


				let c = 0;
				let i = setInterval(function () {
					c++;
					if (c > 10) {
						matrix.forEach(function (ee, t) {
							$container.find('.n-' + t).text(ee || (empty ? '_' : ''));
						});
						matrix2.forEach(function (ee, t) {
							$container2.find('.n-' + t).text(ee || (empty ? '_' : ''));
						});

						$container.find('.n-additional').text(ee);
						$container.find('.n-destiny').text(destiny);

						$container2.find('.n-additional').text(ee2);
						$container2.find('.n-destiny').text(destiny2);

						//console.log('destiny='+destiny);
						//console.log('destiny2='+destiny2);

						clearInterval(i);

						if (typeof callback == 'function') callback();

						return;
					}

					$numbers.each(function (i) {
						let el = $(this);
						let d = el.data('r');

						if (typeof d != 'undefined') {
							let c = Math.floor(Math.random() * 4);
							el.html(c ? d.toString().repeat(c) : empty ? '_' : '&nbsp;');
						} else {
							el.html(Math.floor(Math.random() * 8) + 1);
						}
					});
					$numbers2.each(function (i) {
						let el = $(this);
						let d = el.data('r');

						if (typeof d != 'undefined') {
							let c = Math.floor(Math.random() * 4);
							el.html(c ? d.toString().repeat(c) : empty ? '_' : '&nbsp;');
						} else {
							el.html(Math.floor(Math.random() * 8) + 1);
						}
					});
				}, 30);
			}
		</script>
	</body>
</html>
