<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Нумеролог Шатилова Анна</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Inconsolata:wght@200..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
			rel="stylesheet" />
		<link rel="stylesheet" href="/static/styles_second.css" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{{url_for('.static', filename='styles_second.css')}}" />
	</head>
	<body>
		<header class="wrapper">
			<nav class="navMenu">
				<div class="nav_links">
					<a href="home">Анна Шатилова</a>
					<a href="aboutme" class="obo-mne">Консультация</a>

					<a href="sertificate">Сертификаты</a>
					<a href="matrix" target="_blank">Рассчитать матрицу</a>
				</div>

				<div class="social-media-icons">
					<a href="https://vk.com/id838686053">
						<!-- <img src="/static/vk.png" class="vk-icon" /> -->
						<img src="{{url_for('static', filename='vk.png')}}" />
					</a>
					<a href="">
						<!-- <img src="/static/telegram.png" class="telegram-icon" /> -->
						<img src="{{url_for('static', filename='telegram.png')}}" />
					</a>
				</div>
			</nav>
		</header>

		<div class="wrapper">
			<div class="main">
				<div class="main-info">
					<div class="aboutme">
						<p>
							Я помогу вам с любым вопросом, касающимся вас и/или ваших близких.
							<br /><br />
							Как проходит консультация:<br />
							Вы направляете мне запрос и дату рождения, я готовлю разбор в
							текстовом формате, направляю его<br />
							и далее мы договариваемся на созвон, в рамках которого я отвечу на
							все ваши дополнительные<br />
							вопросы (доступен формат голосовых сообщений)
						</p>
						<p class="price">Стоимость консультации - 4 9 0 0 РУБ</p>
					</div>

					<div class="center">
						<button class="fancy">
							<span class="top-key"></span>
							<a href="https://wa.me/79642773170" target="_blank" class=""
								>Записаться на консультацию</a
							>
							<span class="bottom-key-1"></span>
							<span class="bottom-key-2"></span>
						</button>
					</div>

					<div class="container">
						<input type="radio" name="slider" id="item-1" checked />
						<input type="radio" name="slider" id="item-2" />
						<input type="radio" name="slider" id="item-3" />
						<div class="cards">
							<label class="card" for="item-1" id="song-1">
								<img src="{{ url_for('static', filename='otziv1.png') }}" />
								<!-- <img src="photo/otziv1.png" alt="song" /> -->
							</label>
							<label class="card" for="item-2" id="song-2">
								<img src="{{ url_for('static', filename='otziv2.png') }}" />
								<!-- <img src="photo/otziv2.png" alt="song" /> -->
							</label>
							<label class="card" for="item-3" id="song-3">
								<img src="{{ url_for('static', filename='otziv3.png') }}" />
								<!-- <img src="photo/otziv3.jpg" alt="song" /> -->
							</label>
						</div>
					</div>
				</div>

				<div class="container_photo">
					<!-- <img src="photo/second_woman.png" /> -->
					<img src="{{ url_for('static', filename='second_woman.png') }}" />
				</div>
			</div>
		</div>

		<script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
		<script src="{{ url_for('static', filename = 'script.js') }}"></script>
	</body>
</html>
